/* Hero Area Design Start */
.hero-section {
	padding: 80px 0 65px;
	background: var(--background-color);
}

.sub-text p {
	color: var(--secondary-text);
}

.explore-more {
	padding: 12px 24px;
	background: var(--secondary-color);
	border-radius: 16px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.hero-video svg {
	fill: #fff;
	font-size: 20px;
}

.hero-video button {
	background: transparent;
	color: var(--secondary-text);
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

/* Hero Slider Section */
.hero-slider-section {
	padding: 0 0 250px;
	background: var(--background-color);
}

.slider-image img {
	width: 100%;
	height: 480px;
	object-fit: cover;
	border-radius: 24px;
}

.slider-content p {
	color: var(--secondary-text);
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
	.hero-section {
		padding: 80px 15px 40px 15px;
	}

	.hero-slider-section {
		padding: 0 15px 200px;
	}
}

/* Mobile Device */
@media screen and (max-width: 600px) {
	.hero-section {
		padding: 80px 15px 65px 15px;
	}

	.hero-slider-section {
		padding: 0 15px 200px 15px;
	}

	.slider-image img {
		height: 385px;
	}
}

/* Hero Area Design End */

/* Search Form Start */
.search-form-wrapper {
	margin-top: -120px;
	background: #fff;
	padding: 33px 48px;
	border-radius: 24px;
}

.search-head svg {
	fill: var(--secondary-color);
	font-size: 25px;
}

.latest-searching svg {
	font-size: 25px;
	color: var(--secondary-color);
}

.search-divider img {
	width: 100%;
	height: 1px;
}

.form-box label {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 300;
}

.icons {
	position: relative;
}

.icons svg {
	color: var(--secondary-color);
	font-size: 25px;
	z-index: 99;
	position: absolute;
	top: 14px;
	left: 10px;
}

.icons input {
	width: 261px;
	background: #f8f8fa;
	padding: 15px 50px;
	border-radius: 16px;
}

.icons input::placeholder {
	font-weight: 700;
	font-size: 16px;
	color: var(--primary-color);
}

.form-box button {
	padding: 13px 24px;
	margin-top: 34px;
	background: var(--secondary-color);
	border-radius: 16px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
	.search-form-section {
		padding: 0 15px;
	}
}

/* Mobile Device */
@media screen and (max-width: 600px) {
	.search-form-wrapper {
		padding: 30px 24px;
	}

	.icons input {
		width: 300px;
	}
}

/* Search Form End */

/* Why Choose Us Start */
.why-choose-us {
	padding: 100px 0;
}

.why-choose-heading h2 {
	color: var(--primary-color);
}

.why-choose-heading p {
	width: 50%;
	text-align: center;
}

.content-box h5 {
	padding: 0 17px;
	border-radius: 30px;
	font-size: 22px;
	line-height: 40px;
	color: #fff;
	background-color: var(--secondary-color);
}

.right-content-wrapper {
	position: relative;
}

.main-image img {
	width: 451px;
	height: 644px;
	object-fit: cover;
	border-radius: 28px;
}

.secondary-image {
	position: absolute;
	left: 0;
	bottom: 90px;
	width: 373px;
	background: #fff;
	border-radius: 26px;
	padding: 5px;
}

.secondary-image img {
	width: 373px;
	height: 268px;
	object-fit: cover;
	border-radius: 26px;
}

.right-container {
	margin-top: 45px;
}

.review-box-one {
	position: absolute;
	right: -58px;
	bottom: 55px;
	border-radius: 16px;
}

.review-box-two {
	position: absolute;
	left: 60px;
	top: 95px;
	border-radius: 16px;
}

.review-box-three {
	position: absolute;
	right: 30px;
	top: -30px;
	border-radius: 16px;
}

.avater-image img {
	height: 50px;
	width: 50px;
}

.avater-content h6 {
	font-size: 16px;
	color: var(--primary-color);
	font-weight: 700;
}

.avater-content p {
	font-size: 13px;
}

.avater-content span {
	color: var(--secondary-color);
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
	.why-choose-us {
		padding: 80px 15px;
	}

	.why-choose-heading p {
		width: 60%;
	}

	.right-container {
		margin-top: 0px;
	}

	.main-image img {
		width: 50%;
	}

	.review-box-three {
		position: absolute;
		right: 115px;
		top: -20px;
	}

	.review-box-one {
		right: 50px;
		bottom: 55px;
	}

	.secondary-image {
		left: 45px;
	}
}

/* Mobile Device */
@media (max-width: 600px) {
	.why-choose-us {
		padding: 80px 15px;
	}

	.why-choose-heading h2 {
		text-align: center;
	}

	.why-choose-heading p {
		width: 100%;
	}

	.right-container {
		margin-top: 0px;
	}

	.main-image img {
		width: 75%;
		height: 500px;
		margin-right: 40px;
	}

	.secondary-image {
		width: 210px;
		left: 0;
	}

	.secondary-image img {
		width: 210px;
		height: 150px;
	}

	.review-box-one {
		right: 0px;
		bottom: 28px;
	}

	.review-box-two {
		left: 0;
	}

	.review-box-three {
		right: 55px;
		top: -20px;
	}

	.avater-image img {
		height: 40px;
		width: 40px;
	}

	.avater-content h6 {
		font-size: 12px;
	}

	.avater-content p {
		font-size: 10px;
	}
}

/* Why Choose Us End */

/* Hotel List Grid Start */

.hotel-list-section {
	padding: 0 0 50px;
}
.hotel-list-heading h2 {
	color: var(--primary-color);
}

.hotel-list-heading p {
	width: 60%;
	text-align: center;
}

.hotel-feature-image {
	position: relative;
}

.hotel-card {
	padding: 16px;
	border-radius: 28px;
	background: #fff;
}

.hotel-feature-image {
	position: relative;
	overflow: hidden;
}

.hotel-feature-image::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

.hotel-feature-image img {
	width: 100%;
	height: 261px;
	object-fit: cover;
	border-radius: 20px;
}

.hotel-feature-image svg {
	position: absolute;
	top: 24px;
	right: 24px;
}

.hotel-booking button {
	width: 75%;
	padding: 12px 24px;
	background: var(--secondary-color);
	border-radius: 16px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
	.hotel-list-section {
		padding: 0 15px;
	}

	.hotel-list-heading p {
		width: 65%;
	}
}

/* Mobile Device */
@media screen and (max-width: 600px) {
	.hotel-list-heading h2 {
		text-align: center;
	}

	.hotel-list-heading p {
		width: 100%;
	}
}
/* Hotel List Grid End */

/* Customer Review Start */
.customer-review-section {
	padding: 100px 0;
	background: var(--background-color);
}

.slider-heading-left h2 {
	color: #fff;
}

.slider-heading-right p {
	color: var(--secondary-text);
}

.review-card {
	padding: 28px;
	background: #263042;
}

.review-content svg {
	fill: #fff;
	font-size: 30px;
}

.review-content p {
	color: var(--secondary-text);
}

.author-box img {
	width: 15%;
}

.author-box h5 {
	color: #fff;
}

.like-box svg {
	fill: #fff;
	font-size: 20px;
}

.like-box h5 {
	color: var(--secondary-text);
	font-weight: 300;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
	.customer-review-section {
		padding: 80px 15px 50px;
	}
}

/* Mobile Device */
@media screen and (max-width: 600px) {
	.customer-review-section {
		padding: 50px 15px;
	}

	.slider-heading-left h2 {
		text-align: center;
	}

	.slider-heading-right p {
		text-align: center;
	}
}
/* Customer Review End */
