/* Hero Area Design Start */
.hero-section {
	padding: 80px 0 100px;
	background: var(--background-color);
}

.sub-text p {
	color: var(--secondary-text);
}

.explore-more {
	padding: 12px 24px;
	background: var(--secondary-color);
	border-radius: 16px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.hero-video svg {
	fill: #fff;
	font-size: 20px;
}

.hero-video button {
	background: transparent;
	color: var(--secondary-text);
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

/* Hero Area Design End */
