/* Footer Design Start */
footer {
	padding: 50px 0 25px;
}

.footer-logo img {
	width: 67%;
	filter: invert(100%);
}

.social-icons ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	height: 30px;
	width: 30px;
	background: var(--secondary-color);
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.social-icons ul li:hover {
	background: var(--primary-color);
}

.usefullinks-list p {
	font-size: 16px;
}

.input-email-fields input {
	padding: 15px 10px;
	width: 200px;
	border-radius: 16px 0 0 16px;
}

.submit-button button {
	margin-left: -42px;
	padding: 15px 24px;
	background: var(--secondary-color);
	border-radius: 16px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
}

.copyrigh-claims {
	padding: 50px 10px 25px;
}

.copyrigh-claims p {
	font-size: 16px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
	footer {
		padding: 50px 15px;
	}

	.copyrigh-claims {
		padding: 0px 10px;
	}
}

/* Mobile Device */
@media screen and (max-width: 600px) {
	footer {
		padding: 50px 15px 25px;
	}
	.copyrigh-claims {
		padding: 25px 0px 0;
	}
}

/* Footer Design End */
